*.pyc
*.code-workspace
*.png
*.python-version
.env
build/
*.egg-info
*a.csv
*.pdf
.venv
*.log
*.tex
*.bbl
*.aux
*.out
*.safetensors
node_modules/
__pycache__/
*.ipynb_checkpoints/
*.swp
.DS_Store
*.pkl
*.h5
*.npy
*.npz
*.zip
*.tar.gz
*.tar
*.gz
*.tgz
.vscode/mcp.json
.vscode/settings.json
.build.py
*.pt
*.pth
*.ckpt
*.onnx
*.joblib
*.mlmodel
*.tflite
*.mp4
dist/
models/
checkpoints/
*_diffusion_model/
finetuned_*/
untitled-*.*
notebook-*.ipynb
*.exp
*.incognb
*.mapx
*.docx
*.xlsx
*.pptx
*.exp.*
PLAN.md
tournament.md
test_data/*
**/.knowledge.yaml
**/.npcsh_global
system1_*/
decision_models/
